<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.qa.extentListener.ListenerSetUp"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.qa.tests.LoginPageTest"/>
      <class name="com.qa.tests.ProductPageTest"/>
      <class name="com.qa.tests.YourCartPageTest"/>
       <class name="com.qa.tests.YourInformationPagetest"/>
        <class name="com.qa.tests.OverViewPageText"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
